/* Defined variables */
:root {
    --bbnfblue_org: #00d2fb;
    --bbnfblue: #00bde2;
    --bbnfgrey: #eeeeee;
    --textlh: 22px;
    --textsz: 15px;
    --textcol: #333;
}

body {
	background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;

}

h1 {
    font-size: 42px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}


@media (min-width:768px) {
  h1 {
      font-size: 62px;
      padding-bottom: 14px;
      margin-bottom: 0px;
  }
}


h2 {
    font-size: 32px;
    padding-top: 20px;
}

h2.first {
    padding-top: 0;
}

h2,h3 {
    padding-bottom: 6px;
}

h3 {
    font-size: 26px;
}

h4 {
  color: #666;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

p {
    color: var(--textcol);
    font-size: 15px;
    font-weight: 300;
    line-height: var(--textlh);
    letter-spacing: 0.2px;
}

li {
    font-size: 15px;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.col {
    color: var(--bbnfblue);
}

/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--bbnfblue);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /*font-weight: 400;*/
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: var(--bbnfblue);
  outline: none;
  text-decoration: underline;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: var(--bbnfblue);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #fff;
    margin: 0;
    /*padding: 10px;*/
}

@media (min-width:768px) {
    .navbar-default {
    padding: 0;
    }
}

.navbar-default .navbar-brand {
    padding: 0;
    margin: 6px 6px;
}

.navbar-default .navbar-brand img{
    height: 60px;
}

.navbar-default .navbar-nav li a {
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (min-width:768px) {
    .navbar-default .navbar-nav li a {
        font-size: 16px;
    }
}

.navbar-default .navbar-nav > li > a {
        padding-left: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

@media (min-width:768px) {
    .navbar-default .navbar-nav > li > a {
        padding-right: 22px;
        padding-left: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 10px 0;
    }
}

.navbar-default .navbar-nav > li a:hover {
    color: var(--bbnfblue);
    text-decoration: none;

}

.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
    color: #000;
    background-color: rgba(0,210,251,0.2);
}


/*Dropdown Menu*/
.navbar-default .dropdown {
  position: relative;
  display: inline-block;
}

/*dropdown colon for small screens*/
.navbar-default .dropdown > a::after {
    content: ":";
}

.navbar-default .dropdown-content {
    margin: 0;
    padding-top: 0;
    padding-bottom: 7px;
    padding-left: 40px;
    width: 250px;
}

@media (min-width:768px) {
    /*dropdown arrow for big screens*/
    .navbar-default .dropdown > a::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: .155em;
        content: "";
        border-top: .37em solid;
        border-right: .37em solid transparent;
        border-bottom: 0;
        border-left: .37em solid transparent
    }
    .navbar-default .dropdown-content {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 165px;
        width: auto;
        /*border: 1px solid #ddd;*/
        border-radius: 0;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in
    }

    .navbar-default .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown .dropdown-content a {
        padding: 10px 20px 10px 20px;
        display: block;
        text-decoration: none;
    }
}
/*End Dropdown*/

/*3 lines to open menu for smaller screens*/
.navbar-default .navbar-toggle {
     border: none;
     padding: 20px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: var(--bbnfblue);
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}


/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-color:rgba(0,0,0,0.4); 
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

.main-home {
    height: 100vh;
}

.main-general {
  height: 18vh;
}

@media (min-width:768px) {
  .main-general {
    height: 20vh;
    max-height: 250px;
  }
}

/*---------------------------------------
    Index page              
-----------------------------------------*/

.service-list{
  padding:0 0 0 0;
  margin-bottom:20px;
}
.service-list-col1{
  float:left;
  width:60px;
}
.service-list-col1 i{
  font-style:normal;
  font-size:38px;
  /*display:block;*/
  /*color:#222;*/
  /*font-family: 'FontAwesome';*/
  line-height:38px;
}
.service-list-col2{
  overflow:hidden;  
}

.service-list-col2 h3{
  margin: 0;
  font-size: 14px;  
  text-transform: uppercase;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#home h4 {
  color: var(--bbnfblue);
}

#home .btn {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100px;
    color: #444;
    font-family: 'Merriweather', serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 13px 22px 11px 22px;
    margin-top: 42px;
    transition: all 0.3s ease-in-out;
}

#home .btn:hover {
  background: rgba(255,255,255,0.1);
  border-color: #fff;
  color: #ffffff;
}

.advert {
    position: relative;
    display: inline-block;
    width: 35%;
    margin: var(--textlh);
    border-radius: 5px;
    border: 2px solid rgb(100, 100, 100);
}

@media (min-width:992px) {
  .advert {
    width: 80%;
    margin: 10%;
  }
}

.advert:hover {
    box-shadow: 0 0 10px 4px rgba(0, 210, 251, 0.5);
    transition: all 0.5s ease-in-out;

}

.advert-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.advertoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 5px;
    transition: .5s ease;
    background-color: rgba(250, 250, 250, 0.90);
}

.advert:hover .advertoverlay {
    opacity: 1;
}

.adverttext {
    color: var(--textcol);
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 40%;
    top: 40%;
    -webkit-transform: translate(-33%, -20%);
    -ms-transform: translate(-33%, -20%);
    transform: translate(-33%, -20%);
    text-align: center;
}

.advertbtn {
    background: #00bde2;
    display: inline-block;
    border-radius: 100px;
    color: #444;
    font-family: 'Merriweather', serif;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 26px 16px 26px;
    margin-top: 35px;
    margin-bottom: 17px;
    cursor: pointer;
    /*allows to say whether users can mark the text*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.advertbtn:hover {
  background: #00d2fb;
  color: #444;
  text-decoration: none;
}


.advertbtn_s {
    background: var(--bbnfblue);
    display: inline-block;
    border-radius: 100px;
    color: var(--textcol);
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    /*allows to say whether users can mark the text*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.advertbtn_s:hover {
  background: var(--bbnfblue_org);
  color: var(--textcol);
  text-decoration: none;
}

.index_header h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.index_header h4 {
    padding-bottom: 20px;
}

.index_text_main {
    margin-top: 36px;
}

.alternate_color {
    background-color: #eff;

}


/*---------------------------------------
   Content sections              
-----------------------------------------*/

#about {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width:768px) {
  #about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.intoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
}

@media (min-width:576px) {
    .intoColumns{
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
}

@media (min-width:768px) {
    .intoColumns{
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
}

img.pres{
    width: 250px;
    border-radius: 5px;
    padding: 0px;
    border: 3px solid #ccc;
    margin: 2px;
}
img.pres:hover {
    box-shadow: 0 0 10px 4px rgba(0, 210, 251, 0.5);
}

.image img {
    height: 155px; 
    border: 2px solid #777;
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 4px;
    display: block;
}
.image.left {
    float: left;
    padding: 0 1.5em 0 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 0 1.5em;
    top: 0.25em;
}


blockquote.modern {
  background: var(--bbnfgrey);
  font-size: 15px;
  line-height: var(--textlh);
  font-weight: 300;
  letter-spacing: 0.2px;
  border-left: 5px solid #ccc;
  margin: 1em 40px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

@media (min-width: 768px) {
  blockquote.modern {
    margin: 1em 80px;
  }
}

blockquote.modern:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}
blockquote.modern p {
      display: inline;
}

/*---------------------------------------
   Workshop section              
-----------------------------------------*/

.program{
    padding: 1em 0;
    margin: 1em 1em;
    color: #000;
    background-color: #fff;
    border: 5px solid LightGray;
}

.program p {
  font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
}

.program ul {
    list-style: none;
    padding: 0;
}

.program ul > li > ul > li {
    margin-left: -6em;
    padding-left:2.4em;
    text-indent:-2.4em;    
}

.program li {
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
    padding-left:8.2em;
    text-indent:-8.2em;
}

.program .break{
    line-height: 250%;
    font-style: italic;
    font-weight: bold;
    color: var(--bbnfblue);
}



/*---------------------------------------
   Materiale checkbox selection and items             
-----------------------------------------*/

ul.checkboxtags {
    list-style: none;
    padding: 0px;
    margin: 12px 0px 5px 0px;
    text-align: center;
}
ul.checkboxtags li{
  display: inline;
}

ul.checkboxtags li label{
    display: inline-block;
    /*background-color: rgba(255, 255, 255, .9);*/
    color: var(--textcol);
    font-weight: 300;
    border: 2px solid rgba(139, 139, 139, .3);
    border-radius: 25px;
    margin: 5px 0px;
    padding: 3px 10px;
    cursor: pointer;
    /*demands that whitespace will not e wrapped to next line, not really relevant here*/
    /*white-space: nowrap;*/
    -webkit-touch-callout: none;
    /*allows to say whether users can mark the text*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*sets the color of the element being tapped*/
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.checkboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.checkboxtags li input[type="checkbox"]:checked + label::before {
    content: attr(data-icon); /*"\f00c";*/
    padding: 2px 5.8px 2px 0.5px;
    /*spinning fancy effect, does not fit this crowd*/
    /*transform: rotate(-360deg);*/
    /*transition: transform .3s ease-in-out;*/
}

ul.checkboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid var(--bbnfblue);
    background-color: var(--bbnfblue);
    color: #fff;
    transition: all .2s;
}

ul.checkboxtags li label::after {
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    padding: 2px 0.5px 2px 5.8px;

}

ul.checkboxtags li input[type="checkbox"]:checked + label::after {
    /*content: attr(data-icon);*/
}

/*remove 'standard' checkboxes*/
ul.checkboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.checkboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/*add border color for the focused boxes*/
ul.checkboxtags li input[type="checkbox"]:focus + label {
  /*border: 2px solid #e9a1ff;*/
}


/*resultsboxes*/

ul.catalog {
    list-style: none;
    padding: 0px;
    margin: 12px 0px 5px 0px;
    text-align: center;
}

.cardlink {
  position: relative;
  display: block;
  padding: 3px 10px 3px 35px;
  color: var(--textcol);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.cardlink {
  text-decoration: none;
}

ul.catalog > li{
  display: inline-block;
  text-align: left;
  /*background-color: rgba(255, 255, 255, .9);*/
  width: 400px;
  border: 1px solid rgba(139, 139, 139, .3);
  border-radius: 4px;
  margin: 3px 3px;
}
@media (min-width: 768px) {
  ul.catalog li{
    width: 300px;
  }
}

ul.catalog > li:hover{
  box-shadow: 0 0 10px 4px rgba(0, 210, 251, 0.5);
  top: -5px;
}

ul.catalog li h5 {
  margin: 3px 0 4px 0;
  height: 34px;
  width: 87%;
  line-height: 18px;
}

p.desc {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

ul.catalog li div.type {
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  width: 18px;
}

ul.catalog li ul.topics {
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 13px;
  list-style: none;
  /*text-align: center;*/
  padding: 0px;
  margin: 0px; 
}
ul.catalog li ul.topics li {
  color: var(--textcol);
  text-align: center;
  width: 18px;
}

div.linktype {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(139, 139, 139, .3);
  padding: 8px;
  border-radius: 0px 2px 0px 2px;
  height: 38px;
  width: 38px;
  text-align: center;
  font-size: 15pt;
  /*margin: 0px;*/
}

span.testfill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 100%;
  border-radius: 2px 0 0 2px;
  background-color: rgba(139, 139, 139, .3);
}

p.result_filler {
  margin-bottom: 500px;
}

/*---------------------------------------
   Collapsibles             
-----------------------------------------*/

details.panel {
  margin: 1rem auto;
  padding: 0 1rem;
  /*width: 35em;*/
  max-width: calc(100% - 4rem);
  position: relative;
  /*border: 1px solid #78909C;*/
  border-radius: 0px;
  background-color: var(--bbnfgrey);
  /*transition: background-color 0.5s;*/
}

details.panel > :last-child {
    margin-bottom: 0.6rem;
}
/*details.panel[open] {
    background-color: var(--bbnfgrey);
}*/

details.panel summary {
  padding: 1rem 2em 1rem 0;
  display: block;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  cursor: pointer;
}
  
details.panel summary::before, details.panel summary::after {
    width: .9em;
    height: 4px;
    position: absolute;
    top: calc(10px + 1rem + 4px);
    right: 15px;
    content: '';
    background-color: currentColor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform .5s;
} 

details.panel summary::after {
    transform: translateY(-50%) rotate(90deg);
}  

details.panel[open] summary::after {
      transform: translateY(-50%) rotate(-180deg);
}
details.panel[open] summary::before {
      transform: translateY(-50%) rotate(-180deg);
}
  
details.panel summary::-webkit-details-marker {
    display: none;
}

details.panel summary:focus {
    outline: 0;
}

/*---------------------------------------
   Tables for forlob             
-----------------------------------------*/

.tf {
    margin: 1rem auto;
    width: 100%;
    max-width: calc(100% - 4rem);
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.tf, .tf td {
    border: 3px solid var(--bbnfgrey);
}


.tf td {
    font-size: 15px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
}
.tf .tf-hd, .tf .tf-lfhd{
    font-weight:bold;
    text-align:left;
    vertical-align:middle;
    background-color: rgba(0,210,251,0.2);
}
.tf .tf-lfhd{
    width: 18%;
}

.tf .tf-reg {
    text-align:left;
    vertical-align:top;
    background-color: white;

}

/*---------------------------------------
   List group items             
-----------------------------------------*/

/*separate boxes*//*
a.list-group-item {
    margin: 10px 0;
}*/

a.list-group-item:focus,
a.list-group-item:hover {
    background-color: rgba(0,210,251,0.2);
}

.list-group-item h3 {
    padding: 0;
    margin-top: 10px;
}

.list-group-item p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

/*---------------------------------------
   Vidoes             
-----------------------------------------*/

.listvideos {
  margin-bottom: 30px;
}

/*---------------------------------------
   Om os section              
-----------------------------------------*/

#about .name{
    letter-spacing: 1px;
    font-size: 1em;
    line-height: normal;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#about .title{
    font-size: 0.8em;
    line-height: 0.5em;
    color: var(--bbnfblue);
    padding-bottom: 15px;
}

#about .text{
    line-height: normal;
    font-size: 0.8em;
    /*padding-bottom: 15px;*/
    /*text-align: justify;*/
}

.double_image img {
    height: 140px;
    border: 1px solid LightGray;
}
.double_image img.person_main{
    display: block;
}
.double_image img.person_alt{
    display: none;
}
.double_image:hover img.person_main{
    display: none;
}
.double_image:hover img.person_alt{
    display: block;
}


/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    border-top: 1px solid #eee;
    background: #fff;
    padding: 10px 0px;
}


footer a > img {
    vertical-align: middle;
    padding: 10px 20px;
    width: 150px;
}

@media (min-width: 768px) {
  footer a > img {
      vertical-align: middle;
      padding: 5px 20px;
      width: 250px;
  }
}

/* Back top */
.go-top {
    background-color: #ffffff;
    box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
    bottom: 1.3em;
    right: 1.3em;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: #333;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    transition: background-color .3s, 
    opacity 1s, visibility 1s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

@media (min-width: 768px) {
    .go-top {
        bottom: 35px;
        right: 2em;
    }
}

.go-top:hover {
    background: var(--bbnfblue);
    color: #ffffff;
}

.go-top.show {
  opacity: 1;
  visibility: visible;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon a {
    border: 2px solid #292929;
    color: #292929;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon a:hover {
    border-color: var(--bbnfblue);
    color: var(--bbnfblue);
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

/*Added to fix equal heights*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*End*/

